@font-face {
  font-family: 'Lato', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Lato);
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #EEEEEE;
}

div, label, input, select, option {
  display: flex;
}

#app {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* ------------------ */
/* PROFILE GEN STYLES */
/* ------------------ */

select {
  -webkit-appearance: none;
}

option {
  font-weight: 1200;
}

.gen-profile-container {
  display: flex;
  flex-flow: column;
  width: 420px;
  align-items: center;
  justify-content: center;
  border: 0.5px solid lightgray;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #CFD8DC;
}

.gen-profile-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gen-profile-input {
  height: 40px;
  width: 400px;
  font-size: 1.6rem;
  padding: 3px 0px 3px 3px;
  border-radius: 2px;
  text-indent: 5px;
  line-height: 2.1rem;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

.gen-profile-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.gen-label {
  display: flex;
  flex-flow: column;
  font-weight: bolder;
  margin-top: 3px; 
}

.gen-page {
  border: 0.1px grey;
  color: #FEFEFE;
  height: 40px;
  width: 85px;
  font-size: 1.2em;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  transition: all .2s ease-in-out;
  background-color: #2196F3;
}

.gen-page:hover {
  transform: scale(1.05);
}

.gen-page:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

/* ------------------- */
/* ---- SCORE GEN ---- */
/* ------------------- */

/* CARD */
.gen-score-container {
  display: flex;
  flex-flow: column;
  width: 460px;
  align-items: center;
  justify-content: center;
  border: 0.5px solid lightgray;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #CFD8DC;
}

.gen-score-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gen-title {
  letter-spacing: 0.05rem;
}

/* STATS */
.gen-stat-container{
  display: flex;
  flex-flow: column;
}

.gen-stat-container > * {
  margin: 3% 0;
}

.gen-stat-list, .gen-stat-buttons, .mod-list-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

/* MOD */
.mod-container {
  width: 30px;
  height: 30px;
  margin: 0 12.3%;
  display: flex;
  color: white;
  font-size: 0.9rem;
  background-color: #448AFF;
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.mod-container > span {
  font-size: 0.7rem;
}

.gen-stat-buttons > * {
  margin: 0 2.5%;
}

.gen-stat-list > *{
  margin: 0 2%;
}

.gen-ability-value {
  height: 60px;
  width: 60px;
  border: 0.2px solid grey;
  color: white;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: #ff5252;
}

/* SELECT ROLL */
/* [type="radio"]:not(:checked), [type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

[type="radio"].gen-select-roll:checked + span:before {
  border-radius: 50%;
  border: 2px solid #ff4081;
}

[type="radio"]:checked + span:before {
  border-radius: 50%;
  border: 2px solid transparent;
}

[type="radio"] + span:before, [type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
}

[type="radio"].gen-select-roll:checked + span:after {
  border-radius: 50%;
  border: 2px solid #ff4081;
  background-color: #ff4081;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

[type="radio"]:checked + span:after {
  border-radius: 50%;
  border: 2px solid #ff4081;
  background-color: #ff4081;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
[type="radio"] + span:before, [type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
} */

/* ROLLS */
.gen-roll-container {
  display: flex;
  flex-flow: column;
}

.gen-roll-list {
  display: flex;
  flex-flow: row;
  flex-shrink: 0;
}

.scoregen-roll, .scoregen-stat-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.05rem;
  border: 0px;
  margin: 3px;
  font-weight: bolder;
  background-color: #F5F5F5;
  box-shadow: 0 3px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.scoregen-roll:hover, .scoregen-stat-button:hover, .proficiency:hover {
  box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
  transform: scale(1.1);
}

.gen-roll-button {
  border: 0.1px grey;
  color: #FEFEFE;
  height: 35px;
  width: 75px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  transition: all .2s ease-in-out;
  background-color: #ff1744;
}

.gen-roll-button:hover {
  transform: scale(1.05);
}

.gen-page-focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}
.page-button-list {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 5px;
}

.page-button-list > * {
  margin: 0 5%;
}
/* -------------------- */
/* -- ROLE GENERATOR -- */
/* -------------------- */
.gen-role-container {
  display: flex;
  flex-flow: column;
  width: 420px;
  align-items: center;
  justify-content: center;
  border: 0.5px solid lightgray;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #CFD8DC;
}

.gen-role-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*  */

.proficiency {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0px;
  margin: 5px;
  background-color: lightskyblue;
  font-weight: bolder;
  transition: all .2s ease-in-out;
  flex-shrink: 0;
}

.gen-container, .ability-roll-container, .ability-stat-container,
.bard-col-1, .bard-col-2, .profile-container, .weapons-container,
.spells-container, .spells-prepared, .weapon-container, .spell-container,
.status-container, .status-row-2, .status-armor, .status-initiative,
.status-speed, .status-max-hitpoints, .status-current-value,
.status-temp-hitpoints, .status-hitdie {
  flex-flow: column;
}

.gen-dropdown, .player-base, .weapon-base,
.status-row-1, .status-row-3 {
  flex-flow: row;
}

.player-base {
  justify-content: space-around;
}

.ability-stat-container {
  margin: 5px;
  align-items: center;
}

.player-name, .weapon-name, .spell-name {
  flex-grow: 3;
}

.player-level, .weapon-damage, .spell-level {
  flex-grow: 1;
}

.roll-select-container, .ability-rolled, .ability, .roll-container {
  margin: 5px;
}

.spell-time, .spell-duration, .spell-range, .spell-save, .spell-effect,
.spell-damage {
  margin: 3px;
  padding: 3px;
}

.button {
  margin: 5px 8px;
  padding: 5px 8px;
  border: 1px solid lightblue;
}

.profile-container, .weapons-container, .spells-container,
.status-container, .experience-row, .ability-row,
.character-image-container, .gear-container {
  margin: 5px 8px;
  padding: 5px 8px;
  border: 1px dotted blue;
}

.ability-row {
  justify-content: center;
}

.ability-value {
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 20px;
  font-size: 20px
}

.modifier-value {
  font-size: 15px 
}

.weapon-container, .spell-container, .ability-stat-container,
.ability-value {
  margin: 5px 8px;
  padding: 5px 8px;
  border: 1px dotted green;
  border-radius: 50%;
}

.bard-col-1, .bard-col-2 {
  margin: 5px 8px;
  padding: 5px 8px;
  border: 1px dotted red;
}

.bard-col-1 {
  width: 20%;
}

.bard-col-2 {
  width: 60%;
}