@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EEEEEE;
}

div, label, input, select, option {
  display: flex;
}

#app {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* ------------------------ */
/* -- INPUT WRAPPER TEST -- */
/* ------------------------ */
.input-wrapper {
  margin: 1rem;
  line-height: 2rem;
  position: relative;
  border: 1px;
}
/* .input-wrapper input:not([value=""]) ~ label, */
.input-wrapper input:focus ~ label{
  font-size: 1rem;
  text-indent: 0rem;
  top: -2rem;
}

.input-wrapper select:focus ~ label{
  font-size: 1rem;
  text-indent: 0rem;
  top: -2rem;
}

.focused ~ label{
  font-size: 1rem;
  text-indent: 0rem;
  top: -2rem;
}

.label {
  position: absolute;
  transition: 0.2s all ease-in-out;
  top: 0;
  left: 0;
  text-indent: 0.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 1px 1px;
  line-height: 2rem;
  color: rgba(0,0,0,0.54);
}

/* --------------------- */
/* -- SLIDE ANIMATION -- */
/* --------------------- */
.animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInBottom {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

.slideInBottom {
  animation-name: slideInBottom;
}

.rubberBand {
  animation-name: rubberBand;
}

/* ----------------- */
/* - COLOR SCHEMAS - */
/* ----------------- */
.primary {
  background-color: #039ae5;
  color: #FFFFFF;
}
.primary-light {
  background-color: #63cbff;
  color: #000000;
}

.primary-dark {
  background-color: #006cb2;
  color: #FFFFFF;
}

.secondary {
  background-color: #e54e03;
  color: #000000;
}
.secondary-light {
  background-color: #ff803b;
  color: #000000;
}

.secondary-dark {
  background-color: #ab1400;
  color: #FFFFFF;
}

.analogous-1 {
  background-color: #03e5bf;
  color: #000000;
}
.analogous-1-light {
  background-color: #68fff2;
  color: #000000;
}

.analogous-1-dark {
  background-color: #00b28f;
  color: #000000;
}

.analogous-2 {
  background-color: #0329e5;
  color: #ffffff;
}
.analogous-2-light {
  background-color: #6956ff;
  color: #ffffff;
}

.analogous-2-dark {
  background-color: #0000b1;
  color: #ffffff;
}

.triadic-1 {
  background-color: #4e03e5;
  color: #ffffff;
}
.triadic-1-light {
  background-color: #8c44ff;
  color: #ffffff;
}

.triadic-1-dark {
  background-color: #0000b1;
  color: #ffffff;
}

.triadic-2 {
  background-color: #e5039a;
  color: #000000;
}
.triadic-2-light {
  background-color: #ff59cb;
  color: #000000;
}

.triadic-2-dark {
  background-color: #ae006c;
  color: #ffffff;
}

/* --------------------- */
/* -- GEN CARD & TITLE-- */
/* --------------------- */
.gen-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 0.5px solid lightgray;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #fafafa;
}

.gen-card:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gen-title {
  letter-spacing: 0.05rem;
}

/* ------------------ */
/* PROFILE GEN STYLES */
/* ------------------ */

select {
  -webkit-appearance: none;
}

option {
  font-weight: 1200;
}

.gen-profile-container {
  width: 420px;
}

.gen-profile-input {
  width: 400px;
  font-size: 1.6rem;
  border-radius: 5px;
  text-indent: 5px;
  line-height: 2.0rem;
  transition: all 0.30s ease-in-out;
  padding: 0;
  outline: none;
  background-color: white;
  border: 1px solid #00b28f;
}

.gen-profile-input:focus {
  box-shadow: 0 0 5px #68fff2;
  border: 1px solid #68fff2;
}

.gen-label {
  display: flex;
  flex-flow: column;
  font-weight: bolder;
  margin-top: 3px; 
  color: rgba(0,0,0,0.54);
}

.gen-page {
  border: 0.1px grey;
  height: 40px;
  width: 85px;
  font-size: 1.2em;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.gen-page:hover {
  transform: scale(1.05);
}

.gen-page:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

/* ------------------- */
/* ---- SCORE GEN ---- */
/* ------------------- */
.gen-score-container {
  width: 460px;
}

/* STATS */
.gen-stat-container{
  display: flex;
  flex-flow: column;
}

.gen-stat-container > * {
  margin: 3% 0;
}

.gen-stat-list, .gen-stat-buttons, .mod-list-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

/* MOD */
.mod-container {
  width: 30px;
  height: 30px;
  margin: 0 12.3%;
  display: flex;
  color: white;
  font-size: 0.9rem;
  background-color: #448AFF;
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.mod-container > span {
  font-size: 0.7rem;
}

.gen-stat-buttons > * {
  margin: 0 2.5%;
}

.gen-stat-list > *{
  margin: 0 2%;
}

.gen-ability-value {
  height: 100px;
  width: 100px;
  border: 0.2px solid transparent;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

/* SELECT ROLL */
/* [type="radio"]:not(:checked), [type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

[type="radio"].gen-select-roll:checked + span:before {
  border-radius: 50%;
  border: 2px solid #ff4081;
}

[type="radio"]:checked + span:before {
  border-radius: 50%;
  border: 2px solid transparent;
}

[type="radio"] + span:before, [type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
}

[type="radio"].gen-select-roll:checked + span:after {
  border-radius: 50%;
  border: 2px solid #ff4081;
  background-color: #ff4081;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

[type="radio"]:checked + span:after {
  border-radius: 50%;
  border: 2px solid #ff4081;
  background-color: #ff4081;
  z-index: 0;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
[type="radio"] + span:before, [type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  -moz-transition: 0.28s ease;
  -o-transition: 0.28s ease;
  -ms-transition: 0.28s ease;
  transition: 0.28s ease;
} */

/* ROLLS */
.gen-roll-container {
  display: flex;
  flex-flow: column;
}

.gen-roll-list {
  display: flex;
  flex-flow: row;
  flex-shrink: 0;
}

.scoregen-roll, .scoregen-stat-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.05rem;
  border: 0px;
  margin: 3px;
  font-weight: bolder;
  background-color: #F5F5F5;
  box-shadow: 0 3px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.scoregen-roll:hover, .scoregen-stat-button:hover, .proficiency:hover {
  box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
  transform: scale(1.1);
}

.gen-roll-button {
  border: 0.1px grey;
  color: #FEFEFE;
  height: 35px;
  width: 75px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  transition: all .2s ease-in-out;
  background-color: #ff1744;
  cursor: pointer;
}

.gen-roll-button:hover {
  transform: scale(1.05);
}

.gen-roll:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}
.page-button-list {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 5px;
}

.page-button-list > * {
  margin: 0 5%;
}
/* -------------------- */
/* -- ROLE GENERATOR -- */
/* -------------------- */
.gen-role-container {
  width: 420px;
}

/* ------------------------- */
/* -- Attributes Selector -- */
/* ------------------------- */
.gen-selector-container {
  width: 820px;
}

.gen-selector-container > button {
  margin: 10px 0;
}

.gen-submit {
  display: flex;
  border: 0.1px transparent;
  height: 75px;
  width: 160px;
  font-size: 1.5em;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.gen-submit:hover {
  transform: scale(1.1);
}

.gen-submit:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.gen-attribute-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.gen-attribute-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.proficiency {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0px;
  margin: 5px;
  font-weight: bolder;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  transition: all .2s ease-in-out;
  flex-shrink: 0;
}

/* -------------------------- */
/* -- CHARACTER SHEET VIEW -- */
/* -------------------------- */

.gen-container, .ability-roll-container, .ability-stat-container,
.bard-col-1, .bard-col-2, .profile-container, .weapons-container,
.spells-container, .spells-prepared, .weapon-container, .spell-container,
.status-container, .status-row-2, .status-armor, .status-initiative,
.status-speed, .status-max-hitpoints, .status-current-value,
.status-temp-hitpoints, .status-hitdie {
  flex-flow: column;
}

.gen-dropdown, .player-base, .weapon-base,
.status-row-1, .status-row-3 {
  flex-flow: row;
}

.player-base {
  justify-content: space-around;
}

.ability-stat-container {
  margin: 5px;
  align-items: center;
}

.player-name, .weapon-name, .spell-name {
  flex-grow: 3;
}

.player-level, .weapon-damage, .spell-level {
  flex-grow: 1;
}

.roll-select-container, .ability-rolled, .ability, .roll-container {
  margin: 5px;
}

.spell-time, .spell-duration, .spell-range, .spell-save, .spell-effect,
.spell-damage {
  margin: 3px;
  padding: 3px;
}

.button {
  margin: 5px 8px;
  padding: 5px 8px;
  border: 1px solid lightblue;
}

.experience-row, .ability-row, .character-image-container,
.gear-container {
  margin: 5px 8px;
  padding: 5px 8px;
  border: 1px dotted blue;
}

.ability-row {
  justify-content: center;
}

.ability-value {
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 20px;
  font-size: 20px
}

.modifier-value {
  font-size: 15px 
}

.ability-stat-container, .ability-value {
  margin: 5px 8px;
  padding: 5px 8px;
  border: 1px dotted green;
  border-radius: 50%;
}

.item-card {
  margin: 5px 0;
  padding: 8px 8px;
  height: auto;
  flex-shrink: 0;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.19), 6px 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.item-card:hover {
  box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
  transform: scale(1.05);
}

.weapon-list-container {
  flex-flow: column;
}

.item-list {
  display: flex;
  flex-flow: column;
  overflow-x: visible;
  overflow-y: scroll;
  max-height: 200px;
}

::-webkit-scrollbar {
  display: none;
  }

.weapon-container {
  background-color: #2659ff;
  color: white;
}

.spell-container {
  background-color: #2659ff;
}
/* ---------------- */
/* - PROGRESS BAR - */
/* ---------------- */
.exp {
	width: 400px;
  height: 14px;
  margin: 3px 5px;
	-webkit-appearance: none;
}

.exp::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2.2px;
}

.exp::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background: linear-gradient(to right, #ffedb3, #ffcc26);
}

/*  */
.bard-col-1, .bard-col-2 {
  margin: 5px 8px;
  padding: 5px 8px;
  border: 1px dotted red;
}

.bard-col-1 {
  max-width: 300px;
  width: 100%;
}

.bard-col-2 {
  min-width: 800px;
  width: 100%;
}

.card {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: auto;
  padding: 15px;
  margin: 3px 2px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}